.main-action {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    column-gap: 32px;
}

.main-action a:hover {
    text-decoration: underline #EBA417;
    text-underline-offset: 32px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

/* .main-action.-underline a:hover{
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 20px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 220px;
  } */

.main-action img {
    margin-right: 50px;
}