.main-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: #E1E1E6;
    border-bottom: 1px #29292E solid ;
    padding: 24px 11%;
}